.header_quiz {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header_quiz p,
.header_quiz button {
    margin: 0;
}