.header {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header p,
.header button {
    margin: 0;
}

#quiz_header img {
    width: 80vw;
}